    body {
      background-color: rgba(6, 62, 114, 0.878);
      text-align: center;
      margin: 0;
    }

    * {
      box-sizing: border-box;
    }

    #app {
      background-color: #fff;
      width: 500px;
      height: 500px;
      border-radius: 15px;
      margin-top: 50px;
      padding: 20px;
      display: inline-block;
    }

    #todo-title {
      background-color: rgb(173, 240, 47);
    }

    #todo-input {
      width: 300px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid rgb(227, 69, 58);
      margin-right: 10px;
    }

    #todo-submit {
      width: 100px;
      height: 35px;
      font-size: 15px;
      font-weight: 100;
      border-radius: 5px;
      background-color: #1ae399;
      border: none;
      color: black;
      cursor: pointer;
    }

    #todo-submit:hover {
      background-color: rgb(162, 221, 151);
    }

    #todo-output {
      margin-top: 20px;
      padding-top: 30px;
      text-align: justify;
      font-size: 18px;
    }
  